<!--
<mat-card>
  <mat-toolbar color="accent">
    <mat-toolbar-row>
      <span>REX Projets</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <br>
  <div>
    <form [formGroup]="missionForm" (ngSubmit)="submitForm()" class="mission">






















      
      <div *ngFor="let form of missionForms; let i = index">
        <table style="width: 100%;">
          <td colspan="6">
            <mat-toolbar style="background-color: #1e5d6b; color: antiquewhite;">
              <mat-toolbar-row>
                <div class="mission-info">
                  <span>Missions {{ i + 1 }}:</span>
                  <mat-icon class="material-icons">assignment</mat-icon>
                  <input type="text" class="form-control" id="titre" formControlName="titre" required placeholder="Titre">
                </div>
                <div class="chef-projet-info">
                  <span>Chef de projet:</span>
                  <input type="text" class="form-control" id="manager" formControlName="manager" required placeholder="Email du chef de projet">
                </div>
              </mat-toolbar-row>
            </mat-toolbar>
          </td>
          <tbody>
            <tr>
              <td>Critères</td>
              <td>Consultant</td>
              <td></td>
            </tr>
            <tr>
              <td>Roles et responsabilités</td>
              <td>
                <select id="roleC" formControlName="roleC" required>
                  <option value="">Sélectionnez une option</option>
                  <option value="Très satisfait">Très satisfait</option>
                  <option value="Satisfait">Satisfait</option>
                  <option value="Moyennement satisfait">Moyennement satisfait</option>
                  <option value="Insuffisant">Insuffisant</option>
                  <option value="">-</option>
                </select>
              </td>
              <td>
             
                <textarea class="form-control border" placeholder="Laissez un commentaire ici" id="floatingTextarea2" formControlName="roleRH" required style="height: 100px ; width: 500px ;"></textarea>

              </td>
            </tr>
            <tr>
              <td>Relation avec client</td>
              <td>
                <select id="relationClientC" formControlName="relationClientC" required>
                  <option value="">Sélectionnez une option</option>
                  <option value="Très satisfait">Très satisfait</option>
                  <option value="Satisfait">Satisfait</option>
                  <option value="Moyennement satisfait">Moyennement satisfait</option>
                  <option value="Insuffisant">Insuffisant</option>
                  <option value="">-</option>
                </select>
              </td>
              <td>
             
                <textarea class="form-control border" placeholder="Laissez un commentaire ici" id="floatingTextarea2" formControlName="relationClientRH" required style="height: 100px ; width: 500px ;"></textarea>

              </td>
            </tr>
            <tr>
              <td>Charge (surcharge / Baisse de charge)</td>
              <td>
                <select id="chargeC" formControlName="chargeC" required>
                  <option value="">Sélectionnez une option</option>
                  <option value="Très satisfait">Très satisfait</option>
                  <option value="Satisfait">Satisfait</option>
                  <option value="Moyennement satisfait">Moyennement satisfait</option>
                  <option value="Insuffisant">Insuffisant</option>
                  <option value="">-</option>
                </select>
              </td>
              <td>
     
                <textarea class="form-control border" placeholder="Laissez un commentaire ici" id="floatingTextarea2" formControlName="chargeRH" required style="height: 100px ; width: 500px ;"></textarea>

              </td>
            </tr>
            <tr>
              <td>Satisfaction Globale</td>
              <td>
                <select id="satisficationC" formControlName="satisficationC" required>
                  <option value="">Sélectionnez une option</option>
                  <option value="Très satisfait">Très satisfait</option>
                  <option value="Satisfait">Satisfait</option>
                  <option value="Moyennement satisfait">Moyennement satisfait</option>
                  <option value="Insuffisant">Insuffisant</option>
                  <option value="">-</option>
                </select>
              </td>
              <td>
                
                <textarea class="form-control border" placeholder="Laissez un commentaire ici" id="floatingTextarea2" formControlName="satisficationRH" required style="height: 100px ; width: 500px ;"></textarea>

              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <br>
    
        <button type="button" (click)="addForm()" class="btn btn-outline-primary btn-s btn-block" >
        <mat-icon class="material-icons">add</mat-icon> Ajouter un Mission 
      </button>
    </form>
  </div>
</mat-card>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">--->