
thead {
    background-color: #23d1e8;
    color: #fff;
}

 input{
  margin-left: 100px;
  margin-right: 100px ;
 }
 inputlargeur{
  width: 1000px ; 
 }

 .mission-info {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.chef-projet-info {
  display: flex;
  align-items: center;
}

.chef-projet-info span {
  margin-right: 10px;
}
