<table class="mission-table">
  <tr>
    <td>
      <form [formGroup]="missionForm" (ngSubmit)="submitForm()">
        <div>
          <label for="titre">Titre :</label>
          <input type="text" id="titre" formControlName="titre" required>
        </div>
        <div>
          <label for="roleC">Rôle et responsabilite  Consultant :</label>
          <input type="text" id="roleC" formControlName="roleC" required>
          <label for="roleC">Rôle et responsabilite  Rh :</label>

          <input type="text" id="roleRH" formControlName="roleRH" required>

        </div>
    
        <div>
          <label for="relationClientRH">Relation Client RH :</label>
          <input type="text" id="relationClientRH" formControlName="relationClientRH" required>
        </div>
        <div>
          <label for="relationClientC">Relation Client Consultant :</label>
          <input type="text" id="relationClientC" formControlName="relationClientC" required>
        </div>
        <div>
          <label for="chargeRH">Charge RH :</label>
          <input type="text" id="chargeRH" formControlName="chargeRH" required>
        </div>
        <div>
          <label for="chargeC">Charge Consultant :</label>
          <input type="text" id="chargeC" formControlName="chargeC" required>
        </div>
        <div>
          <label for="satisficationRH">Satisfaction RH :</label>
          <input type="text" id="satisficationRH" formControlName="satisficationRH" required>
        </div>
        <div>
          <label for="satisficationC">Satisfaction Consultant :</label>
          <input type="text" id="satisficationC" formControlName="satisficationC" required>
        </div>

        <button type="submit" [disabled]="!missionForm.valid">Ajouter la mission</button>
      </form>
    </td>
  </tr>
</table>

  
  