.my-table {
    width: 100%; /* Ajustez la largeur du tableau selon vos besoins */
  }
  
  .my-column {
    width: 25%; /* Ajustez la largeur des colonnes selon vos besoins */
  }
  .hidden {
    display: none;
  }
  
  