
<form class="login" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
  <div class="fadeIn first text-center">
    <img src="assets/images/users/login.png" width="100 px " id="icon" alt="User Icon" />
  </div>
  <input type="email" id="email" name="email" ngModel class="form-control" placeholder="Email" required autofocus>
  <input type="password" id="password" name="password" ngModel class="form-control" placeholder="Password" required>
 
  <div class="alert alert-warning" *ngIf="invalidlogin">
    Email ou mot de passe incorrect.
  </div>
 
  <button  type="submit" [disabled]="!loginForm.valid">Login</button>
</form>

