<!-- ============================================================== -->
<!-- sidebar -->
<!-- ============================================================== -->
 <div class="user-profile">
    
    <!-- User profile image -->

    <!-- <div class="profile-img"> <img src="assets/images/users/profile.png" alt="user"> </div>-->
    <!-- User profile text-->
    <!-- ============================================================== -->
    <!-- Profile - style you can find in header.scss -->
    <!-- ============================================================== -->
    <div class="profile-text">
        <a [matMenuTriggerFor]="sdprofile" style="background-color: #185e77;">
            {{nom}} <mat-icon class="user-icon">account_circle</mat-icon>
           
          </a>
                </div>
      
      <mat-menu #sdprofile="matMenu" class="mymegamenu">
       
        <button mat-menu-item class="menu-item" (click)="home()">
          <mat-icon class="menu-icon">account_box</mat-icon> Profil
        </button>
    
        <button mat-menu-item class="menu-item" (click)="logout()">
          <mat-icon class="menu-icon">exit_to_app</mat-icon> Déconnexion
        </button>
      </mat-menu>
      
</div>
<mat-nav-list appAccordion>
    <mat-list-item appAccordionLink *ngFor="let menuitem of menuItems.getMenuitem()" routerLinkActive="selected" group="{{menuitem.state}}">
        <a class="" appAccordionToggle [routerLink]="['/', menuitem.state]" *ngIf="menuitem.type === 'link'">
            <mat-icon>{{ menuitem.icon }}</mat-icon> 
            <span>{{ menuitem.name }}</span> 
            <span fxFlex></span> 
            <span class="label label-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span> 
        </a>

        
    </mat-list-item>

</mat-nav-list>