<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<mat-card>
    <div>
        <mat-toolbar color="accent">
            <mat-toolbar-row style="text-align: center;">
                <span style="margin-left: auto;margin-right: auto;color: aliceblue;text-align: center;">
                    <i class="fa fa-calendar" aria-hidden="true"></i> Demande de congé
                </span>
            </mat-toolbar-row>
        </mat-toolbar>
        <br>


        <form [formGroup]="demandeForm" >

            <mat-card>
                <mat-toolbar style="background-color: #5F9EA0; color:white;">
                    <mat-toolbar-row style="text-align: center;">
                        <span><i class="fa fa-info-circle"></i> Informations</span>
                    </mat-toolbar-row>
                </mat-toolbar>
                <br>

                <div class="row">
                    <div class="col">
                      <label for="demandeur">Demandeur: <i class="fa fa-user"></i> </label>
                      <input type="text" id="demandeur" value={{nomconsultant}} disabled style="cursor: not-allowed;width: 50%;">
                    </div>
                  
                    <div class="col">
                      <label for="poste">Poste: <i class="fa fa-briefcase"></i> </label>
                      <input type="text" id="poste" value={{posteconsultant}} disabled style="cursor: not-allowed;width: 50%;">
                    </div>
                </div>


                <mat-toolbar style="background-color: #5F9EA0; color:white;">
                    <mat-toolbar-row style="text-align: center;">
                        <span><i class="fa fa-info-circle"></i> Validateur</span>
                    </mat-toolbar-row>
                </mat-toolbar>
                <br>
                <div class="row">
                    
                  
                    <div class="col" style="width: 50%;">
                      <label for="validateur">Validateur: <i class="fa fa-check"></i> </label>
                  
                      <mat-form-field  style="width: 50%;">
                        <mat-label>Validateur</mat-label>
                        <mat-select formControlName="validateur" >
                            <input  style="width: 50%;"type="text" matInput placeholder="Rechercher un validateur" (input)="filterUsers($event.target.value)">

                          <mat-option *ngFor="let utilisateur of filteredUtilisateurs" [value]="utilisateur.mail">
                            {{ utilisateur.nom }} {{ utilisateur.prenom }}
                          </mat-option>
                          <mat-option *ngIf="filteredUtilisateurs.length === 0" [value]="searchTerm">
                            Aucun résultat trouvé.  {{ searchTerm }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                  
                      <mat-error *ngIf="demandeForm?.get('validateur')?.hasError('required')">Le validateur est obligatoire</mat-error>
                    </div>
                  
                      
                    <div class="col" style="width: 50%;">
                        <label for="validateur">CC: <i class="fa fa-check"></i> </label>
                    
                        <mat-form-field  style="width: 50%;">
                          <mat-label>CC</mat-label>
                          <mat-select formControlName="cc" >
                              <input  style="width: 50%;"type="text" matInput placeholder="Rechercher un utilisateur" (input)="filterUsers($event.target.value)">
  
                            <mat-option *ngFor="let utilisateur of filteredUtilisateurs" [value]="utilisateur.mail">
                              {{ utilisateur.nom }} {{ utilisateur.prenom }}
                            </mat-option>
                            <mat-option *ngIf="filteredUtilisateurs.length === 0" [value]="searchTerm">
                              Aucun résultat trouvé.  {{ searchTerm }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                    
                      </div>
               
                  
                <br>
               </div>
            </mat-card>
            <br>

            <mat-card>
                <mat-toolbar style="background-color: #5F9EA0; color:white;">
                    <mat-toolbar-row style="text-align: center;">
                        <span><i class="fa fa-hourglass"></i> Solde de congé actuel</span>
                    </mat-toolbar-row>
                </mat-toolbar>
                <br>

                <div class="row">
                    <div class="col">
                        

                        <label for="soldeConge"> Solde de congé:</label>
                        <input type="text" id="soldeConge" [value]="solde" disabled [ngClass]="{ 'text-danger': solde <= 0 }">
                    
                        <label for="soldeMaladie"> Solde de maladie:</label>
                        <input type="text" id="soldeMaladie" [value]="soldemaldie" disabled [ngClass]="{ 'text-danger': soldemaldie <= 0 }">
                    </div>
                    
                </div>
            </mat-card>
            <br>

            <mat-card>
                <mat-toolbar style="background-color: #5F9EA0; color:white;">
                    <mat-toolbar-row style="text-align: center;">
                        <span><i class="fa fa-calendar"></i> Période de congé</span>
                    </mat-toolbar-row>
                </mat-toolbar>
                <br>

                <div class="row">
                    <div class="col">
                        <label for="dateDebut"> Date de début:</label>
                        <input type="date" id="dateDebut" formControlName="dateDebut" (input)="calculateDuree()">
                   

                        <label for="dateFin"> Date de fin:</label>
                        <input type="date" id="dateFin" formControlName="dateFin" (input)="calculateDuree()" [ngClass]="{ 'disabled': isDemiJourneeSelected }" >

                        <label for="demandeur"><i class="fa fa-clock-o"></i> Durée:</label>
                        <input type="text" formControlName="duree" id="duree" [value]="duree >= 0 ? duree : 0" disabled style="cursor: not-allowed;" [ngClass]="{ 'disabled': isDemiJourneeSelected }">
                        <div *ngIf="demandeForm.hasError('invalidDates')" class="error-message">
                            <span style="color:#f95959;font-size: large;"><i class="fa fa-exclamation-circle"></i> Les dates sont invalides. Veuillez vous
                                assurer que la date de début est inférieure à la date de fin.</span>
                        
                    </div>
                    </div>
                


                </div>
                <label>Demi-journée: </label>

                <label>Demi-journée: </label>
                <mat-checkbox formControlName="demiJournee" id="demiJournee" (change)="onDemiJourneeChange()">Demi-journée</mat-checkbox>
                            </mat-card>
            <br>

            <mat-card>
                <mat-toolbar style="background-color: #5F9EA0; color:white;">
                    <mat-toolbar-row style="text-align: center;">
                        <span><i class="fa fa-list-alt"></i> Congés Exceptionnels </span>
                    </mat-toolbar-row>
                </mat-toolbar>
                <br>
            
                <div class="row">


                    <div class="col">
                        <input type="radio" id="congesPersonnel" name="type" value="congé personnel" formControlName="type"
                          (change)="onCongesPersonnelSelected()">
                        <label for="congesPersonnel">Congés Personnel</label><br>
                    
                        <!-- Champ de téléchargement PDF conditionnel -->
                     
                        
                      </div>
                    <div class="col">
                      <input type="radio" id="congesExceptionnels" name="type" value="Congés Exceptionnels" formControlName="type"
                        (change)="onCongesExceptionnelsSelected()">
                      <label for="congesExceptionnels">Congés Exceptionnels</label><br>
                    </div>
                    <div class="col">
                      <input type="radio" id="congesMaladie" name="type" value="Congés Maladie" formControlName="type"
                        (change)="onCongesMaladieSelected()">
                      <label for="congesMaladie">Congés Maladie</label><br>
                  
                      <!-- Champ de téléchargement PDF conditionnel -->
                   
                      
                    </div>
                    <div class="col">   <div *ngIf="isCongesMaladieSelected">
                        <label for="certif" class="custom-file-upload">
                          Choisir un certificat médical (PDF)
                        </label>
                        <input type="file" id="certif" (change)="onFileSelected($event)" accept=".pdf">
                      </div></div>
                  </div>
                  
                
            </mat-card>
            
           

            <div class="row col-12 justify-content-center mb-4" style="margin-top: 2em;">
                <div class="btn-group" role="group">
                    <button type="submit" class="btn btn-primary mr-2">
                        <i class="fa fa-floppy-o"  (click)="submitDemandeConge('enregister')"></i> Enregistrer
                    </button>
                    <button type="submit" mat-raised-button color="accent" class="mr-2" (click)="submitDemandeConge('envoyer')">
                        <i class="fa fa-paper-plane"></i> Envoyer la demande
                    </button>
                    <button type="button" mat-raised-button style="background-color: #f95959; color: azure;" (click)="Annuler()">
                        <mat-icon>cancel</mat-icon> Annuler
                    </button>
                </div>
            </div>
            
        </form>
    </div>
</mat-card>