/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.mat-card-image {
    width: 100px;
    height: 200px;
  }
  @media print {
    /* Masquer le header et le footer lors de l'impression */
    header, footer,app-sidebar {
      display: none;
    }}