.my-custom-dialog {
    width: 700px;
    height: 80% !important;
    
  }
  .my-custom-dialog {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .my-custom-dialog form {
    display: flex;
    flex-direction: column;
  }
  
  .my-custom-dialog .form-group {
    margin-bottom: 15px;
  }
  
  .my-custom-dialog label {
    display: block;
    margin-bottom: 5px;
  }
  
  .my-custom-dialog input,
  .my-custom-dialog select,
  .my-custom-dialog textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .my-custom-dialog button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .my-custom-dialog button:hover {
    background-color: #45a049;
  }
  
  /* Adjust styles as needed */
  