<div class="my-custom-dialog">

  <form class="p-3 rounded bg-light" (submit)="sendEmail()">
    
    <div class="form-group">
      <label for="toName"><i class="fas fa-user"></i> Nom de recruteur suivant</label>
      <input type="text" class="form-control" id="toName" name="toName" [(ngModel)]="email.toName">
    </div>
    <div class="form-group">
      <label for="toEmail"><i class="fas fa-envelope"></i> Email </label>
      <input type="email" class="form-control" id="toEmail" name="toEmail" [(ngModel)]="email.toEmail">
    </div>
   

    <div class="form-group">
      <label for="datetime"><i class="fas fa-calendar"></i> Date et heure</label>
      <input type="datetime-local" [(ngModel)]="dateInput" name="dateInput" />
    </div>

    <div class="form-group">
      <label for="type"><i class="fas fa-list"></i> Type</label>
      <select [(ngModel)]="selectedOption" name="selectedOption">
        <option value="teams">Teams</option>
        <option value="bureau">Bureau</option>
      </select>
    </div>

    <div *ngIf="selectedOption === 'teams'">
      <div class="form-group">
        <label for="teamsLink"><i class="fas fa-link"></i> Lien Teams</label>
        <input type="text" [(ngModel)]="teamsLink" name="teamsLink" placeholder="Lien Teams" />
      </div>
    </div>

    <div *ngIf="selectedOption === 'bureau'">
      <div class="form-group">
        <label for="selectedLocation"><i class="fas fa-map-marker"></i> Emplacement</label>
        <select [(ngModel)]="selectedLocation" name="selectedLocation">
          <option value="Urbain Nord">Urbain Nord</option>
          <option value="Lac 1">Lac 1</option>
          <option value="Manzeh1">Manzeh 1</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="comments"><i class="fas fa-comment"></i> Commentaires</label>
      <textarea class="form-control" id="comments" name="comments" [(ngModel)]="commentaire"></textarea>
    </div>

    <button type="submit" class="btn btn-outline-primary btn-lg btn-block" ><i class="fas fa-paper-plane"></i> Envoyer</button>
  </form>
</div>
